/* ============================================
   FILE: components/galleries/ImperfectionsGridReveal.css
   ============================================ */

.imperfections-main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imperfections-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imperfections-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  display: grid;
  gap: 1vh;
  grid-template-columns: repeat(3, 32.5vw);
  grid-template-rows: repeat(4, 23vh);
  justify-content: center;
  align-content: center;
}

.imperfections-gallery--active {
  grid-template-columns: repeat(3, 100vw);
  grid-template-rows: repeat(4, 49.5vh);
  gap: 15vh;
}

.imperfections-item {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  border-radius: 6px;
  position: relative;
  filter: brightness(1);
}

.imperfections-gallery .imperfections-item:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}

.imperfections-gallery .imperfections-item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.imperfections-gallery .imperfections-item:nth-child(3) {
  grid-area: 2 / 2 / 4 / 3;
}

.imperfections-gallery .imperfections-item:nth-child(4) {
  grid-area: 1 / 3 / 3 / 3;
}

.imperfections-gallery .imperfections-item:nth-child(5) {
  grid-area: 3 / 1 / 3 / 2;
}

.imperfections-gallery .imperfections-item:nth-child(6) {
  grid-area: 3 / 3 / 5 / 4;
}

.imperfections-gallery .imperfections-item:nth-child(7) {
  grid-area: 4 / 1 / 5 / 2;
}

.imperfections-gallery .imperfections-item:nth-child(8) {
  grid-area: 4 / 2 / 5 / 3;
}

.imperfections-caption {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin: 100vh 0 0 -50vw;
  font-size: clamp(2rem, 10vw, 5rem);
  display: grid;
  place-items: center;
  color: #fff;
  font-weight: 400;
  z-index: 101;
}

.imperfections-gallery--active .imperfections-caption {
  margin-top: -50vh;
}


/* ============================================
   FILE: components/galleries/PerfectionArt.css
   ============================================ */

.perfection-main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.perfection-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.perfection-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}

.perfection-gallery--active {
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr 60vh 1fr;
  gap: 0;
}

.perfection-gallery--active .perfection-item {
  grid-area: 2 / 2 / 3 / 3;
}

.perfection-item {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  border-radius: 6px;
  position: relative;
  filter: brightness(1);
}

.perfection-caption {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin: 100vh 0 0 -50vw;
  display: grid;
  place-items: center;
  font-size: clamp(2rem, 8vw, 6rem);
  color: #000;
  font-weight: 400;
  z-index: 101;
}

.perfection-gallery--active .perfection-caption {
  opacity: 1;
  margin-top: -50vh;
}

@media screen and (min-width: 53em) {
  .perfection-gallery {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-1 {
    grid-area: 1 / 1;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-2 {
    grid-area: 1 / 2;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-3 {
    grid-area: 1 / 4;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-4 {
    grid-area: 1 / 5;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-5 {
    grid-area: 3 / 6;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-6 {
    grid-area: 1 / 7;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-7 {
    grid-area: 1 / 9;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-8 {
    grid-area: 3 / 10;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-9 {
    grid-area: 2 / 8;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-10 {
    grid-area: 4 / 9;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-11 {
    grid-area: 3 / 8;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-12 {
    grid-area: 2 / 2;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-13 {
    grid-area: 3 / 1;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-14 {
    grid-area: 3 / 4;
  }
  
  .perfection-gallery:not(.perfection-gallery--active) .perfection-pos-15 {
    grid-area: 4 / 3;
  }
}


/* ============================================
   FILE: components/galleries/WideImageExplore.css
   ============================================ */

.wideimage-main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wideimage-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wideimage-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  display: grid;
  place-items: center;
}

.wideimage-item {
  width: 400%;
  height: 400%;
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  border-radius: 6px;
  position: relative;
  filter: brightness(1) hue-rotate(90deg);
}

.wideimage-gallery--active .wideimage-item {
  width: 100%;
  height: 100%;
  filter: brightness(0.7) hue-rotate(0deg);
}

.wideimage-caption {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin: 100vh 0 0 -50vw;
  font-size: clamp(2rem, 5vw, 3rem);
  display: grid;
  place-items: center;
  color: #fff;
  font-weight: 400;
  z-index: 101;
}

.wideimage-gallery--active .wideimage-caption {
  margin-top: -50vh;
}


/* ============================================
   FILE: components/galleries/ExploreOurApp.css
   ============================================ */

.explore-main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.explore-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.explore-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 2rem;
}

.explore-item {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  flex: none;
  border-radius: 1.5vw;
  width: 25vw;
  height: 35vw;
  position: relative;
  filter: opacity(1);
}

.explore-gallery--active .explore-item {
  grid-area: 1 / 1 / 2 / 2;
}

.explore-gallery .explore-item:nth-child(5) {
  z-index: 2;
}

.explore-gallery .explore-item:nth-child(4) {
  z-index: 3;
}

.explore-gallery .explore-item:nth-child(3) {
  z-index: 4;
}

.explore-gallery .explore-item:nth-child(2) {
  z-index: 5;
}

.explore-gallery .explore-item:nth-child(1) {
  z-index: 6;
}

.explore-gallery--active .explore-item:nth-child(1) {
  margin-left: 0rem;
}

.explore-gallery--active .explore-item:nth-child(2) {
  margin-left: 2rem;
}

.explore-gallery--active .explore-item:nth-child(3) {
  margin-left: 4rem;
}

.explore-gallery--active .explore-item:nth-child(4) {
  margin-left: 6rem;
}

.explore-gallery--active .explore-item:nth-child(5) {
  margin-left: 8rem;
}

.explore-gallery--active .explore-item:nth-child(6) {
  margin-left: 10rem;
}

.explore-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100vw;
  width: 100vw;
  padding: 5vw;
  z-index: 0;
}

.explore-caption p {
  margin: 0;
}

.explore-gallery--active .explore-caption {
  left: 0;
}

@media screen and (min-width: 53em) {
  .explore-caption {
    bottom: 40%;
    width: 60vw;
    max-width: 800px;
  }

  .explore-gallery--active .explore-caption {
    left: 40vw;
  }
}


/* ============================================
   FILE: components/galleries/GalleryRow.css
   ============================================ */

.galleryrow-section {
  position: relative;
  width: 100%;
}

.galleryrow-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.galleryrow-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.galleryrow-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.galleryrow-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.galleryrow-item {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  border-radius: 6px;
  position: relative;
  filter: brightness(1);
  width: auto;
  aspect-ratio: 2 / 3;
}

.galleryrow-item--s {
  height: 20vh;
}

.galleryrow-item--m {
  height: 25vh;
}

.galleryrow-item--l {
  height: 50vh;
}

.galleryrow-item--xl {
  z-index: 100;
  height: 75vh;
}

.galleryrow-gallery--active .galleryrow-item--m,
.galleryrow-gallery--active .galleryrow-item--l {
  height: 20vh;
}

.galleryrow-gallery--active .galleryrow-item--center {
  height: 100vh;
  width: 100vw;
  aspect-ratio: auto;
  filter: brightness(0.5);
}

.galleryrow-caption {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -50vh;
  left: 0;
  padding: 4.5vw;
  max-width: 730px;
  opacity: 0;
  font-size: clamp(1rem, 3vw, 1.75rem);
  color: #fff;
  font-weight: 400;
  z-index: 101;
}

.galleryrow-gallery--active .galleryrow-caption {
  bottom: 0;
  opacity: 1;
}
