.horizontal-fold-gallery-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(https://i.postimg.cc/J0zJRg02/x25sd.png);
  background: url(https://i.postimg.cc/L85pjVYD/sd2.png);
  background: url(https://i.postimg.cc/5Nj73KgP/sds.png);
  /* background: url(https://i.postimg.cc/QMqJscSd/sdsdsad.png); */
  /* background-color: rgb(0, 43, 54); */
  background-size: auto;
  background-repeat: repeat;
  /* background-position: 15% 80%; */
}

.horizontal-fold-gallery-wrapper {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* Canvas Stage */
.canvas-stage {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

/* 3D Perspective Wrapper */
.perspective-wrapper {
  position: absolute;
  right: 0;
  perspective: 55vw;
  transform-style: preserve-3d;
}

/* Fold Panel Base */
.fold-panel {
  overflow: hidden;
  width: calc(40vw + 2px);
  height: 60vh;
  will-change: transform;
  background: #004d5d;
}

/* Previous Panels (Folded) */
.fold-panel-prev {
  position: absolute;
  transform-origin: right center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fold-panel-prev-3 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0)
    rotateY(35deg) translate3d(-100%, 0, 0) rotateY(110deg);
}

.fold-panel-prev-2 {
  transform: translate3d(calc(-100% + 3px), 0, 0) rotateY(-35.1deg)
    translate3d(-100%, 0, 0) rotateY(35.1deg);
  width: calc(40vw + 7px);
}

.fold-panel-prev-1 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg);
}

.fold-panel-prev-1::after,
.fold-panel-prev-3::after {
  content: "";
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}

/* Panel Container */
.panel-container {
  transform-origin: center center;
  width: calc(100% + 1px);
  height: 100%;
}

/* Panel Viewport */
.panel-viewport {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: all;
  justify-content: start;
  /* margin-left: -100px; */
}

/* Viewport Positioning for Each Panel */
.fold-panel-main .panel-viewport {
  transform: translateX(-200%);
}

.fold-panel-prev-1 .panel-viewport {
  transform: translateX(-100%);
}

.fold-panel-prev-2 .panel-viewport {
  transform: translateX(0%);
}

.fold-panel-prev-3 .panel-viewport {
  transform: translateX(100%);
}

/* Gallery Strip */
.gallery-strip {
  display: flex;
  height: 100%;
  flex-direction: row;
  width: min-content;
  align-items: flex-end;
}

/* Gallery Image */
.gallery-image {
  flex: none;
  display: block;
  height: 100%;
  pointer-events: none;
}

/* Gallery Title */
.gallery-title {
  /* padding: 2rem; */
  font-family: "Serif";
  text-transform: capitalize;
  font-weight: 400;
  margin: 0 5vw 0 0;
  white-space: nowrap;
  color: black;
  font-size: 4vw;
  text-align: center;
  margin-bottom: 15px;
  background-color: white;
}
